[submodule "sdd-workshop"]
	path = references/sdd-workshop
	url = https://github.com/094459/sdd-workshop.git
[submodule "references/ideal-project-scaffolder"]
	path = references/ideal-project-scaffolder
	url = https://github.com/yitzhak-shaked/ideal-project-scaffolder.git
[submodule "references/mattpocock-skills"]
	path = references/mattpocock-skills
	url = https://github.com/mattpocock/skills.git
[submodule "references/caveman"]
	path = references/caveman
	url = https://github.com/JuliusBrussee/caveman.git
[submodule "references/sdd"]
	path = references/sdd
	url = https://github.com/094459/sdd.git
[submodule "references/spec-driven-development-workshop"]
	path = references/spec-driven-development-workshop
	url = https://github.com/094459/spec-driven-development-workshop.git
[submodule "references/claude-code-best-practice"]
	path = references/claude-code-best-practice
	url = https://github.com/shanraisshan/claude-code-best-practice.git
